/* 전역 바디/폰트는 common.css 사용 */

h2 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

#signupForm input[type="email"],
#signupForm input[type="text"],
#signupForm input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
#loginForm  input[type="email"],
#loginForm input[type="text"],
#loginForm  input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
#signupForm button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#loginForm button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button:hover {
  background-color: #45a049;
}

#adminToken {
  display: none;
}

#adminCheckbox:checked ~ #adminToken {
  display: block;
}
